

/**{

	outline: 2px solid red;
}*/
.li_color{

	color: #849297;
	text-decoration:none;
	margin: 10px;

}
.li_color:hover{

	color: #e5e3e7;
	font-weight: 500;
}

.centrar_texto{

	text-align: center;
}

.li_pie{

	color: white;
	text-decoration:none;
	margin: 10px;	
}


/*---------Estilos para las opciones(Cambia de color al seleccionarlo: Estudiante-Trainee-Junior)----*/






/*--------------------------------Estilos para el formulario de Comprar Tickets--------------------------*/
	/** {
	  box-sizing: border-box;
	}*/

	input[type=text], select, textarea {
	  width: 45%;
	  padding: 12px;
	  border: 1px solid #626262;
	  border-radius: 4px;
	  resize: vertical;
	  margin: 5px;
	

	}

	label {
	  padding: 12px 12px 12px 0;
	  display: inline-block;
	}

	input[type=submit] {
	  background-color: #04AA6D;
	  color: white;
	  padding: 12px 20px;
	  border: none;
	  border-radius: 4px;
	  cursor: pointer;
	  display: inline-block;
	  

	}

	input[type=submit]:hover {
	  background-color: #45a049;
	}

	.contenedor {

		
		
	  

        
	}

	/*.colum-25 {
	  
	  width: 100%;
	  margin-top: 6px;
	  border: 12px solid red;
	}*/

	.colum-75 {
	  
	  /*width: 50%;*/
	      margin: 15px;
	  	  text-align: center;



	  	}

	 .columna{

	 
	 	margin: 10px;
	 	width: 65%;
	 	margin: auto auto;
	 }

	/* Clear floats after the columns */
	.columna:after {
	  content: "";
	  display: table;
	  clear: both;

	}



	/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
	@media screen and (max-width: 600px) {
	  .colum-25, .colum-75, input[type=submit], input[type=text] {
	    width: 100%;
	    margin-top: 0;
	    display: block;
	  }
	}





/*--------------------------Flash Card----------------------------*/

.fc{

width: 298px;
display: inline-block;
margin: 10px;



}
.fc button{
 
 margin-left: 15px;

	
}

.fc button.btn2{

	margin-left: 4px;
	border: transparent;
}

.fc h5{

    text-align: left;
    margin-left: 15px;


}

.fc p{

	text-align: left;
	margin: 15px;
}

.fc_div2 button{

	border-radius: 5px;
	padding-top: 0px;
}

.fc_div2 .btn1{


	background-color: #ffc108;
	border: transparent;
}

.fc_div2 .btn2{


	background-color: #17a2b9;
	color: white;
}

.fc_div2 #btn2{


	background-color: #dc3546;
	margin-left: 5px;
	color: white;
	border: transparent;
}

.fc_div2 #btn1{

	background-color: #6c757c;
	color: white;
	border: transparent;
}


/*-------------------Bs As - Octubre----------------------*/

@media only screen and (max-width: 800px) {
  
.BsAs_div1{
	
	
	
	display:none;
  }

#bsas{
 
text-align: center;


}
}


